# Django
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,localhost:5173

# Database engine: sqlite or postgresql
DB_ENGINE=postgresql

# PostgreSQL settings (used when DB_ENGINE=postgresql)
POSTGRES_DB=educalc
POSTGRES_USER=didiercuetia
POSTGRES_PASSWORD=1814
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# SQLite setting (used when DB_ENGINE=sqlite)
SQLITE_PATH=db.sqlite3

# CORS
CORS_ALLOW_ALL_ORIGINS=False
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173