[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
markdown = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
drf-spectacular = "*"
python-dotenv = "*"
django-cors-headers = "*"
dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
